<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="blocks/headTag :: headTag"></div>
    <title>Турн</title>
</head>
<body>
    <div class="container">
        <div th:include="blocks/header" th:remove="tag"/>

        <div class="page-header">
            <h1><span style="padding-left:1em">О Предприятии</span></h1>
            <p class="text-justify">
                <span style="padding-left:3em">Наше предприятие </span>на протяжении 20 лет успешно занимаеться реализацией проектов
            по продаже/покупке, ремонту, модернизации, монтажу, вводу в эксплуатацию различного металлообрабатывающего
            оборудования европейского и отечественного производства на крупнейших заводах и предприятиях Украины,
            России и стран ближнего зарубежья, а также осуществляет програмнотехническое сопровождение и гарантийное
            обслуживатие.</p>
            <p class="text-justify">
                <span style="padding-left:3em">В специфике</span> нашей работы можно выделить сопровождение при покупке/продаже и/или
            дальнейшей модернизации горизонтально расточных станков Skoda, Olivetti, Mikromat, TOSWANDORF,
            токарно-карусельных станков TOSHULIN, CKD Blansko, TOS, токарных и шлифовальных станков TOS Celakovice,
            горизонтально-расточные.</p>
            <div style="padding:0px">
                <img src="../../../resources/img/main_page.jpg" th:src="@{/img/main_page.jpg}"
                     alt="I-Plastic Biplast-V" class="img-rounded img-responsive"/>
            </div>
        </div>

    </div>

    <div th:include="blocks/footer"/>
</body>
</html>