<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="blocks/headTag :: headTag"></div>
    <title>Турн</title>
</head>
<body>
    <div class="container">
        <div th:include="blocks/header" th:remove="tag"/>

        <div class="page-header">
            <h1>О Предприятии</h1>
            <p class="text-justify">Наше предприятие на протяжении 20 лет успешно занимаеться реализацией проектов
            по продаже/покупке, ремонту, модернизации, монтажу, вводу в эксплуатацию различного металлообрабатывающего
            оборудования европейского и отечественного производства на крупнейших заводах и предприятиях Украины,
            России и стран ближнего зарубежья, а также осуществляет програмнотехническое сопровождение и гарантийное
            обслуживатие.</p>
            <div style="padding:0px">
                <img src="../../../resources/img/main_page.jpg" th:src="@{/img/main_page.jpg}"
                     alt="I-Plastic Biplast-V" class="img-rounded img-responsive"/>
            </div>
        </div>

    </div>

    <div th:include="blocks/footer"/>
</body>
</html>