<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="blocks/headTag :: headTag"></div>
    <meta charset="UTF-8"/>
    <title th:text="${user.username}"> profile</title>
</head>
<body>
<div class="container">
    <div th:include="blocks/header" th:remove="tag"/>

    <div class="panel panel-default">
        <div class="panel-heading" th:text="${user.username}"> profile</div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>User name</th>
                    <th>Email</th>
                </tr>
                <tr>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div th:include="blocks/footer" th:remove="tag"/>
</body>
</html>