<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="blocks/headTag :: headTag"></div>
    <title>Ремонт и модернизация</title>
    <meta name="description=" content="Ремонт и модернизация оборудования,
    описание станков, типы станков, успешные проекты, токарно-карусельные станки,
    токарные станки, расточные станки."/>
</head>
<body>
<div class="container">
    <div th:include="blocks/header" th:remove="tag"/>

    <div style="padding:0px">

    </div>
    <div class="page-header">
        <h1><span style="padding-left:1em">Ремонт и модернизация</span></h1>
    </div>
    <div class="row">
        <div class="col-sm-7" style="padding-right:0px">
            <p class="text-justify">
                <span style="padding-left:3em">При содействии</span> нашего предприятия осуществлен демонтаж, ремонт, модернизация(глубокая),
                монтаж и ввод в эксплуатацию на производственных площадях заводов Чехии и Украины
                следующих станков:
            </p>
            <ul class="list-group">
                <li href="#" class="list-group-item active">
                    токарно-карусельная группа:
                </li>
                <li class="list-group-item">SKIQ8,12,16,20,SKQ (TOSHULIN),1540(г.Пенза,TOREN),SKD40(Нижний Тагил) Blansko,
                    DKZ4000(ЗАРЯ-Машпроект), Olivetti HORIZON3, 4(МОТОР-СИЧ);</li>
                <li href="#" class="list-group-item active">расточная группа:</li>
                <li class="list-group-item">SKODA W160, 200, 250;</li>
                <li href="#" class="list-group-item active">токарные станки:</li>
                <li class="list-group-item">SPT32 CNC, HIED DF, DFM 2/3, GILDEMEISTER Max Muller MDW</li>
            </ul>

        </div>
        <div class="col-xs-4" style="padding-right:0px">
            <img src="../../../resources/img/technology_page.jpg" th:src="@{/img/technology_page.jpg}"
                 alt="Equipment" class="img-rounded img-responsive" style="max-width: 110%"/>
        </div>
    </div>
    <p class="text-justify">
        <span style="padding-left:3em">Своими силами</span>  на протяжении 15 лет была проведена модернизация более 300 координатно-расточных и
        шлифовальных на различных предприятиях внутри страны, заключающаяся в установке датчиков линейных
        и угловых перемещений и устройств цифровой индикации (УЦИ) немецкого и австрийского производства
        (ANILAM, ACU-RITE, HEIDENHAIN).Это дало возможность увеличить производительность оператору, точность
        обработки, в т.ч. и благодаря использованию программных таблиц компенсаций отклонений при линейных
        перемещениях и учет люфта ШВП при смене направлений движения.
    </p>
    <p class="text-justify">
        <span style="padding-left:3em">С 2014 г. нами было</span> освоено направление модернизации поворотных столов (пр-ва бывш.СССР, РФ) путем
        замены оптических систем отсчета на абсолютные угловые датчики (HEIDENHAIN RCN729, 226).
    </p>
    <p class="text-justify">
        <span style="padding-left:3em">На экспериментальных</span> обрабатывающих центрах типа ИС, пр-ва АО "МОТОР-СИЧ" внедрена опция активного
        обмера заготовок, автоматического сведения центра осей глобоидального стола на базе циклов SIEMENS,
        RENISHAW с помощью щупа касания HEIDENHAIN TS640.
    </p>
    <!--<a href="../../../resources/pdf/datchiki_lineinuh_peremeshenii.pdf" th:href="@{/pdf/datchiki_lineinuh_peremeshenii.pdf}">sensors</a>-->

</div>

<div th:include="blocks/footer"/>
</body>
</html>